@model Movie

@section header
{
    @await Html.PartialAsync("_header")
 
}
@section scripts
{
    <script src="js/script.js"></script>
}

<h1>Movie List</h1>
<div id="movies">
    <div class="movie">
        <p>@Model.Title</p>
        <p>@Model.Description</p>
        <p>@Model.Director</p>
        <p>
            <ul>
                @foreach (var actor in Model.Actors)
                {
                    <li>@actor</li>
                }
            </ul>
        </p>
    </div>
</div>

